<section class="gradient-form">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10 mh-100 mw-100">
        <div class="row g-0 ">
          <div class="col-lg-6 mh-100 bg-light text-center m-lg-auto">
            <div class="card-body p-md-5 mx-md-2">
              <div class="text-start">
                <h2 class="mt-1 mb-1 pb-1 bg-transparent unselected">Change Password</h2>
              </div>
              <hr>
              <form class="mh-100">
                <div class="text-start mb-1 ms-1 unselected opacity-50">
                  <p>Current Password*</p>
                </div>
                <div class="form-outline mb-2 ">
                  <input [type]="passTypes.currentPass" [(ngModel)]="passInfo.currentPass" name="currentPass"
                         class="form-control"/>
                </div>
                <div class="text-start mb-1 ms-1 unselected opacity-50">
                  <p>New Password</p>
                </div>
                <div class="form-outline mb-2 ">
                  <input [(ngModel)]="passInfo.newPass" name="newPass" [type]="passTypes.newPass" class="form-control"/>
                </div>
                <div class="text-start mb-1 ms-1 unselected opacity-50">
                  <p>Confirm New Password</p>
                </div>
                <div class="form-outline mb-2 ">
                  <input [(ngModel)]="passInfo.newPassConfirm" name="newPassConfirm" [type]="passTypes.newPassConfirm"
                         class="form-control"/>
                </div>
                <div class="text-start mb-1 ms-1 unselected ">
                  <label><input type="checkbox" class="password-checkbox" (change)="changeCurrentPass()">Show passes</label>
                </div>
                <div *ngIf="errorMsg != null">
                  <p class="text-warning">{{errorMsg}}</p>
                </div>
                <div class="text-start pt-1 pb-1">
                  <button class="btn btn-primary btn-block mb-3" style="--bs-btn-padding-x: 10rem" type="button" (click)="updatePass()">Save</button>
                  <br>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
