<div class=" py-5">
  <div class="card mx-auto" style="width: 180vh">
    <div class="text-start card-header bg-white">
      <p class="h3 mt-2">Responses</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th *ngFor="let field of fields">{{field.label}}</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userAnswer of userAnswers">
              <th *ngFor="let answer of userAnswer">{{answer.answer}}</th>
            </tr>
          </tbody>
        </table>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="getNextServerData($event)"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
