<body>
<div class="text-center min-vh-100" style="background-color: #eee;">
  <div class="nav-push"></div>
  <router-outlet>
    <mat-grid-list cols="10" rowHeight="10vh" *ngIf="authenticated()" [style.background]="'white'">
      <mat-grid-tile colspan="5">
        <i class="bi bi-emoji-sunglasses fs-1 me-5" style="padding-right: 80vh"></i>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <p class="mt-3">Fields</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <p class="mt-3">Responses</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <button value="user menu" id="button" type="button" mat-button [matMenuTriggerFor]="userActions">{{userName()}}</button>
        <mat-menu #userActions="matMenu">
          <button mat-menu-item [routerLink]="['/user/' + userId() + '/edit']">Edit Profile</button>
          <button mat-menu-item>Change Password</button>
          <button mat-menu-item (click)="logOut()">Log Out</button>
        </mat-menu>
      </mat-grid-tile>
    </mat-grid-list>
  </router-outlet>
  <div class="push"></div>
</div>
</body>
